.Frontend {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--white);

    .main {
        flex-grow: 1;
    }

    .btn {
        padding: 13px 25px;
        border-radius: 50rem;

        i {
            margin-left: 10px;
        }
    }

    footer {
        .top {
            padding: 20px 0;
            background-color: var(--blue-5);
            border-top: .5px solid var(--blue-50);

            .title {
                font-size: 18px;
                font-weight: 500;
                color: var(--blue);
                margin-bottom: 10px;
                display: inline-block;
                border-bottom: .5px solid var(--border);
            }

            .social-networks a {
                font-size: 30px;
                margin-right: 13px;
                color: var(--border);
                text-decoration: none;
            }

            .schools {
                i {
                    margin-right: 10px;
                }

                a {
                    color: var(--border);
                }
            }
        }

        .bottom {
            font-size: 18px;
            padding: 20px 0;
            text-align: center;
            color: var(--white);
            background-color: var(--blue);

            a {
                font-weight: 500;
                color: var(--white);
                text-decoration: none;
            }
        }
    }
}