.Frontend .Toolbar {
    top: 0;
    width: 100%;
    height: 66px;
    z-index: 1030;
    position: sticky;
    background: var(--white);
}

@media screen and (min-width: 800px) {
    .Frontend .Toolbar {
        height: 87px;
    }
}

@media screen and (min-width: 1900px) {
    .Frontend .Toolbar {
        height: 100px;
    }
}