.Frontend .Opportunities {
    section {
        background-color: var(--blue-10);

        .container {
            padding: 80px 0;

            img {
                border-radius: var(--border-radius);
            }

            p {
                margin-bottom: 40px;
            }
        }
    }
}