.Frontend .Home {
    .Stat {
        display: flex;
        align-items: center;

        .icon {
            width: 75px;
            font-size: 57px;
            margin-right: 15px;
        }

        .value {
            font-size: 30px;
        }
    }

    .banner {
        position: relative;
        height: calc(100vh - 66px);

        .banner__container {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        .banner__text {
            height: 100%;
            display: flex;
            position: relative;
            color: var(--white);
            flex-direction: column;
            justify-content: center;

            .title {
                font-weight: 500;
                margin-bottom: 15px;
            }

            .subtitle {
                margin-bottom: 20px;
            }

            .alumni-call {
                margin-right: 15px;
            }
        }
    }

    .events {
        .events__container {
            .events__wrapper {
                bottom: 0;
                z-index: 1;
                width: 100%;
                padding: 24px;
                display: flex;
                position: relative;
                border-radius: var(--border-radius);
                color: var(--white);
                align-items: stretch;
                transform: translateY(-15px);
                background-color: var(--blue);

                .events__title {
                    top: 0;
                    right: 24px;
                    display: none;
                    font-size: 24px;
                    font-weight: 500;
                    color: var(--dark);
                    padding: 10px 45px;
                    position: absolute;
                    border-radius: 50rem;
                    transform: translateY(-50%);
                    background-color: var(--white);
                }

                .img {
                    overflow: hidden;
                    border-radius: var(--border-radius);
                    margin-bottom: 15px;

                    .date {
                        padding: 12px;
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--dark);
                        text-align: center;
                        background-color: var(--white);
                    }
                }

                a.title {
                    font-size: 30px;
                    font-weight: 500;
                    color: var(--white);
                    margin: 25px 0;
                    text-decoration: none;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }
    }

    section {
        background-color: var(--white);

        &.about,
        &.elders,
        &.newsletter {
            background-color: var(--blue-10);
        }

        &.about {
            img {
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 20px;
            }

            .actions {

                a,
                button {
                    margin-top: 10px;
                }

                .donate {
                    margin-right: 10px;
                }

                .join {
                    margin-right: 0;
                }
            }
        }

        &.stats {
            color: var(--white);
            background-color: var(--blue);
        }

        &.newsletter {
            p {
                text-align: center;
            }

            form {
                justify-content: center;

                .submit {
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }

        .container {
            padding-top: 40px;
            padding-bottom: 40px;

            img {
                border-radius: var(--border-radius);
            }

            p {
                margin-bottom: 20px;
            }

            .view-all {
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    .carousel-inner {
        height: 100% !important;
    }

    .carousel-indicators {
        top: 50%;
        width: 30px;
        transform: translate(-50%, -50%);
        left: calc(96% - 15px);
        margin: 0;

        li {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: white;
            border: none;
            margin: 8px 0;
            transition: all .5s;

            &.active {
                width: 28px;
                height: 28px;
                background-color: var(--blue);
                border: 4px solid var(--white);
            }
        }
    }
}

@media (min-width: 800px) {
    .Frontend .Home {
        .Stat {
            .icon {
                width: 88px;
                font-size: 67px;
                margin-right: 20px;
            }

            .value {
                font-size: 30px;
            }
        }

        .banner {
            .banner__text {
                .title {
                    margin-bottom: 20px;
                }

                .subtitle {
                    margin-bottom: 30px;
                }
            }
        }

        .events {
            .events__container {
                .events__wrapper {
                    padding: 24px;
                    transform: translateY(-50%);

                    .events__title {
                        top: 0;
                        right: 24px;
                        display: block;
                        font-size: 20px;
                        padding: 5px 35px;
                    }

                    .img {
                        margin-bottom: 0;

                        .date {
                            padding: 12px;
                            font-size: 18px;
                        }
                    }

                    a.title {
                        font-size: 30px;
                        margin: 25px 0;
                    }

                    p {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        section {
            &.about {
                p {
                    margin-bottom: 20px;
                }

                .actions {

                    a,
                    button {
                        margin-top: 10px;
                    }

                    .donate,
                    .join {
                        margin-right: 15px;
                    }
                }
            }

            &.newsletter {
                form {
                    .submit {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .Frontend .Home {
        .Stat {
            .icon {
                width: 101px;
                font-size: 77px;
                margin-right: 25px;
            }

            .value {
                font-size: 30px;
            }
        }

        .banner {
            height: calc(100vh - 87px);

            .banner__text {
                .title {
                    margin-bottom: 25px;
                }

                .subtitle {
                    margin-bottom: 40px;
                }
            }
        }

        .events {
            .events__container {
                .events__wrapper {
                    padding: 24px;

                    .events__title {
                        top: 0;
                        right: 24px;
                        font-size: 24px;
                        padding: 10px 45px;
                    }

                    .img {
                        .date {
                            padding: 12px;
                            font-size: 18px;
                        }
                    }

                    a.title {
                        font-size: 30px;
                        margin: 25px 0;
                    }

                    p {
                        margin-bottom: 40px;
                    }
                }
            }
        }

        section {
            &.about {
                p {
                    margin-bottom: 30px;
                }
            }

            &.newsletter {
                form {
                    .submit {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}