.UI.Form {
    border-radius: var(--border-radius);
    padding: 36px 51px 75px 51px;
    background-color: var(--white);

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 63px;
        justify-content: space-between;

        .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .subtitle {
            font-size: 12px;
            margin-bottom: 15px;
        }

        .blue-line {
            width: 33px;
            height: 7px;
            border-radius: 5px;
            background-color: var(--blue);
        }

        .link {
            text-decoration: none;
        }
    }
}