.Activities.Show {
    .activity {
        .container {
            padding: 80px 0;

            .title {
                font-size: 30px;
                font-weight: 700;
                color: var(--blue);
                margin-bottom: 24px;
            }

            .author {
                font-size: 18px;
                margin-bottom: 40px;

                span {
                    color: var(--blue);
                    font-weight: 700px;
                }
            }

            .bg-img {
                margin-bottom: 40px;
            }

            .content {
                font-size: 18px;
                text-align: justify;
            }
        }
    }
}